.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table_head {
  justify-content: center;
}

th,
tr {
  align-items: center;
  text-align: center;
}

.view_contents {
  align-items: center;
  text-align: center;
}
